<form method="post" action="{{ path('back_district_delete', {'id': district.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer ce quartier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ district.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
