<form method="post" action="{{ path('back_tag_delete', {'id': tag.id}) }}" onsubmit="return confirm('êtes-vous sûr de vouloir supprimer cette spécialité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
