{% extends 'base.html.twig' %}

{% block title %}Ajout d'une spécialité{% endblock %}

{% block body_back %}
    <h1>Créer une nouvelle spécialité</h1>

    {{ include('tag/_form.html.twig') }}

    <a href="{{ path('app_back_tag') }}" class="btn btn-info">Retour à la liste des spécialités</a>
{% endblock %}
