{% extends 'base.html.twig' %}

{% block body %}
<section class="row justify-content-center">
    <h1>Hep là, qui va là !</h1>

    <p>
        <h2>
            Non non non, on n'a rien à faire ici !
        </h2>
    </p>
    <p>
    <img src="https://64.media.tumblr.com/682df6a865a20e13e352b139777630ca/tumblr_nkj88cnVm51tvgytqo1_400.gif">
    </p>
    <p>
        On fait demi-tour et on retourne sur <a href="{{ path('back_back_menu') }}">la page d'accueil</a>.
    </p>
    <p>
        <img src="https://c.tenor.com/CHc8ytYtkWsAAAAd/vw-lupo-volkswagen-lupo.gif"
    </p>
</section>
{% endblock %}